@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?pia52');
  src:  url('fonts/icomoon.eot?pia52#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?pia52') format('truetype'),
    url('fonts/icomoon.woff?pia52') format('woff'),
    url('fonts/icomoon.svg?pia52#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-verified:before {
  content: "\e908";
}
.icon-keyboard_arrow_up:before {
  content: "\e906";
}
.icon-arrow-right:before {
  content: "\e905";
}
.icon-link:before {
  content: "\e904";
}
.icon-mail:before {
  content: "\e907";
}
.icon-menu:before {
  content: "\e900";
}
.icon-moon:before {
  content: "\e901";
}
.icon-snapchat-square:before {
  content: "\e903";
}
.icon-cross:before {
  content: "\e902";
}
.icon-sun:before {
  content: "\e9d4";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
